* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-secondary {
  color: #47294c;
  text-transform: uppercase;
  font-weight: 600;
}

/* HEADER */

.header {
  display: flex;
  gap: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  margin-right: 10rem;
}
.main-nav-list {
  display: flex;
  gap: 5rem;
  font-size: 2.2rem;
  list-style-type: none;
}
.main-nav-link {
  color: #702a87;
  text-decoration: none;
  font-size: 1.8rem;
  position: relative;
}

.main-nav-link::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background: #2d1136;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  transition: 0.3s;
}

.main-nav-link:hover::after {
  width: 100%;
}

/* HERO SECTION */

.hero {
  display: flex;
  gap: 2rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10rem;
}

.hero-col-1,
.hero-col-2 {
  width: 50%;
  height: 100vh;
}

.hero-col-2 {
  background-color: #c3b9b7;
  padding-bottom: 5rem;
}

.overlap-image {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  width: 45%;
  height: 80vh;
  top: 7rem;
  border: 2rem solid white;
}

.hero-text-box {
  color: #47294c;
  background-color: #eae7eb;
  height: 30rem;
  width: 33%;
  line-height: 135%;
  position: absolute;
  left: 55%;
  top: 21.25rem;
  border: 2rem solid white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  transform: scaleY(1.5);
  letter-spacing: -0.5px;
  padding-left: 3rem;
}
.hero-text-light {
  color: #816f7d;
}

/* ABOUT SECTION */

.about {
}
